In [2]:
import pandas as pd

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_8008\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
var=pd.DataFrame({"A":["a","b","c","a","b","f","a"],"B":[1,2,3,4,5,6,7]})
var

   A  B
0  a  1
1  b  2
2  c  3
3  a  4
4  b  5
5  f  6
6  a  7

                                        groupby Function

In [9]:
var=var.groupby("A")
var

                                        Using loop to get the data

In [10]:
for key,value in var:
    print(key)
    print(value)
    print()

a
   A  B
0  a  1
3  a  4
6  a  7

b
   A  B
1  b  2
4  b  5

c
   A  B
2  c  3

f
   A  B
5  f  6

                            if i want single dataa

In [13]:
var.get_group("a")

   A  B
0  a  1
3  a  4
6  a  7

                                                    Get maximum minimum and mean

In [14]:
var.mean()

     B
A
a  4.0
b  3.5
c  3.0
f  6.0

In [15]:
var.max()

   B
A
a  7
b  5
c  3
f  6

In [16]:
var.min()

   B
A
a  1
b  2
c  3
f  6

In [17]:
var=list(var)
var

[('a',
     A  B
  0  a  1
  3  a  4
  6  a  7),
 ('b',
     A  B
  1  b  2
  4  b  5),
 ('c',
     A  B
  2  c  3),
 ('f',
     A  B
  5  f  6)]