In [1]:
import pandas as pd
dic={
    1:[1,2,3,4,5,6,7],
    2:[11,12,13,14,15,16,17],
    3:[21,22,23,24,25,26,27]
}

var=pd.DataFrame(dic)
var

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_640\4215932815.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

   1   2   3
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24
4  5  15  25
5  6  16  26
6  7  17  27

                                                                         insertion

In [2]:
var

   1   2   3
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24
4  5  15  25
5  6  16  26
6  7  17  27

In [5]:
var.insert(3,"python4",var[1][:3])
var

   1   2   3  python4
0  1  11  21      1.0
1  2  12  22      2.0
2  3  13  23      3.0
3  4  14  24      NaN
4  5  15  25      NaN
5  6  16  26      NaN
6  7  17  27      NaN

                                                            pop the columns

In [6]:
var.pop(2)

0    11
1    12
2    13
3    14
4    15
5    16
6    17
Name: 2, dtype: int64

In [7]:
var

   1   3  python4
0  1  21      1.0
1  2  22      2.0
2  3  23      3.0
3  4  24      NaN
4  5  25      NaN
5  6  26      NaN
6  7  27      NaN

                                                                    Delete

In [ ]:
del var["python"]
var