One Dimensional Data/Series

In [5]:
import pandas as pd
 
# simple array
data = [1, 2, 3, 4]
 
ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
import pandas as pd
numeric_data=[12,13,14,15,16,17]
file1=pd.Series(numeric_data)
print(file1)

0    12
1    13
2    14
3    15
4    16
5    17
dtype: int64

In [22]:
k=[3,4,5,6,7,8]
var=pd.Series(k)
print("INDEX 4:",var[4])
print("INDEX 3:",var[3])
var

INDEX 4: 7
INDEX 3: 6

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64

Series Funcionality (Change index,Change datatype) that we can do with PANDAS.

In [26]:
k=[3,4,5,6,7,8]
var=pd.Series(k,index=["a","s","d","f","g","h"],dtype="float",name="python")
print("INDEX 4:",var[4])
print("INDEX 3:",var[3])
var

INDEX 4: 7.0
INDEX 3: 6.0

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_11876\2835066165.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("INDEX 4:",var[4])
C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_11876\2835066165.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("INDEX 3:",var[3])

a    3.0
s    4.0
d    5.0
f    6.0
g    7.0
h    8.0
Name: python, dtype: float64

                    	Use dictionary/tuple what ever you want

In [34]:
dic={
    1:[1,2,3,4,5,6],
    2:[11,1,213,14,15,16],
    3:[21,22,23,24,25,26],
    4:[31,32,33,34,35,36],
    4:[41,42,43,44,45,46]
}
var2=pd.Series(dic,name="dictionary",dtype='float')
var2

1          (1, 2, 3, 4, 5, 6)
2    (11, 1, 213, 14, 15, 16)
3    (21, 22, 23, 24, 25, 26)
4    (41, 42, 43, 44, 45, 46)
Name: dictionary, dtype: object

                        Single number series/Add two s

In [44]:
s=pd.Series(12,index=[1,2,3,4,5,6,7])
s2=pd.Series(12,index=[1,2,3,4])
s3=s+s2
print(s3)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64