In [1]:
import pandas as pd

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_9532\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
var=pd.DataFrame({"text":["a","b","c","a","d","a","b","a"],
                 "text2":[1,2,3,4,5,6,7,8]})
var

  text  text2
0    a      1
1    b      2
2    c      3
3    a      4
4    d      5
5    a      6
6    b      7
7    a      8

In [6]:
var=var.groupby("text")
var

In [8]:
for key,value in var:
    print(f"{key}:{value}")
print()

a:  text  text2
0    a      1
3    a      4
5    a      6
7    a      8
b:  text  text2
1    b      2
6    b      7
c:  text  text2
2    c      3
d:  text  text2
4    d      5

In [9]:
var.max()

      text2
text
a         8
b         7
c         3
d         5

In [10]:
var.min()

      text2
text
a         1
b         2
c         3
d         5

In [11]:
var.mean()

      text2
text
a      4.75
b      4.50
c      3.00
d      5.00

In [12]:
var=list(var)

In [13]:
var

[('a',
    text  text2
  0    a      1
  3    a      4
  5    a      6
  7    a      8),
 ('b',
    text  text2
  1    b      2
  6    b      7),
 ('c',
    text  text2
  2    c      3),
 ('d',
    text  text2
  4    d      5)]

In [14]:
var.append("Hum zinda koum haen")

In [16]:
var.pop()

'Hum zinda koum haen'

In [17]:
var

[('a',
    text  text2
  0    a      1
  3    a      4
  5    a      6
  7    a      8),
 ('b',
    text  text2
  1    b      2
  6    b      7),
 ('c',
    text  text2
  2    c      3),
 ('d',
    text  text2
  4    d      5)]

In [18]:
var.insert(2,"Äddind some thing at index 2")

In [19]:
var

[('a',
    text  text2
  0    a      1
  3    a      4
  5    a      6
  7    a      8),
 ('b',
    text  text2
  1    b      2
  6    b      7),
 'Äddind some thing at index 2',
 ('c',
    text  text2
  2    c      3),
 ('d',
    text  text2
  4    d      5)]

In [21]:
var.remove("Äddind some thing at index 2")

In [22]:
var

[('a',
    text  text2
  0    a      1
  3    a      4
  5    a      6
  7    a      8),
 ('b',
    text  text2
  1    b      2
  6    b      7),
 ('c',
    text  text2
  2    c      3),
 ('d',
    text  text2
  4    d      5)]

TypeError: list indices must be integers or slices, not str

AttributeError: 'list' object has no attribute 'find'